

PORT=3002

###### BLOCKCHAIN VARIABLES ########
CONNECTION_PROFILE=blockchain_local.json
CA_URL=
MSPID=Org1MSP
DISCOVERY=true
ISLOCAL=true
CHAINCODE_NAME=
SMART_CONTRACT_NAME=
CA_ADMIN_USER=
CA_ADMIN_PASSWORD=
CHANNEL=


###### MONGODB VARIABLES ######

MONGO_URL=
MONGO_DATABASE=